extends layout

block content
	h1= title
	p= "Last flight viewed: " + lastNumber
	ul
		each flight, index in flights
			- landed = new Date(flight.actualArrive)
			li= flight.number + ": " + flight.origin + " - " + flight.destination + " (" + landed + ")"